* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://sendak1ng.github.io/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

html,
body {
    scroll-behavior: smooth;
}

/* LOGO + NAVBAR */

.logo {
    /* curseur chargement infini sur logo */
    cursor: wait;
}

nav {
    /* barre de navigation */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202225;
    height: 10vh;
}

.nav_links li {
    /* txt des barres de navigation */
    display: inline-block;
    color: white;
    padding: 0px 50px;
    font-family: 'Poppins', sans-serif;
}

.nav_links {
    /* placement des txt */
    margin-right: 180px;
}

.nav_links li a:hover {
    /* couleur qui change quand le curseur passe par dessus */
    color: #e5c79f;
}

/* HADES - PRODUIT*/

a {
    /* pour les balises textes, comme ça, ça change pas de couleurs et c'est pas dégueu */
    color: white;
    text-decoration: none;
}

.hades {
    width: 100%;
    padding: 78px 0px;
}

.hades img {
    /* drop shadow pour faire une ombre portée */
    height: auto;
    width: 200px;
    filter: drop-shadow(0 0 0.15rem #e5c79f);
}

.hades-txt {
    width: 550px;
}

.hades-main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hades-txt h1 {
    color: #e5c79f;
    filter: drop-shadow(0 0 0.2rem #e5c79f);
    font-size: 40px;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.hades-txt h5 {
    color: white;
    filter: drop-shadow(0 0 0.1rem white);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 23px;
    margin-bottom: 25px;
    font-family: 'Open Sans', sans-serif;
}

.hades-txt p {
    color: #fff;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    font-family: 'PT Sans', sans-serif;
}

button {
    background-color: #e5c79f;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 30px;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

button:hover {
    color: white;
    background: transparent;
    border: 2px solid #e5c79f;
    cursor: pointer;
}

/* HADES - SPECS */

.hades-specs-h1 {
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}

.hades-specs h3 {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.hades-specs {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.hades-specs-box {
    width: 500px;
    height: 220px;
    padding: 10px;
    margin: 20px;
    color: white;
    border: solid white 1px;
}

.hades-specs-box:hover {
    width: 500px;
    height: 220px;
    padding: 10px;
    margin: 20px;
    color: #e5c79f;
    background-color: #202225;
}

.hades-specs p{
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}

/* NEWSLETTER */

form {
    /* box de la newsletter */
    border: 4px solid #202225;
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.container {
    /* txt du top */
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background-color: #202225;
}

input[type=text],
input[type=submit] {
    /* input */
    width: 100%;
    padding: 12px;
    display: inline-block;
    border: 1px solid #202225;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #e5c79f;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border: none;
}

input[type=submit]:hover {
    /* opacité de l'hover qd on passe par dessus */
    opacity: 0.8;
}

/* FOOTER */

footer {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #202225;
    color: white;
}

footer p {
    padding: 12px;
    margin-top: 5px;
}